<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="v0.project.mysite.KBC.repository.IUserRepository">

    <resultMap id="BizMembersResultMap" type="v0.project.mysite.work.HJH.model.BizMembers">
        <id property="bizmember_id" column="bizmember_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="bizrno" column="bizrno"/>
        <result property="address" column="address"/>
        <result property="bizname" column="bizname"/>
        <result property="call_number" column="call_number"/>
        <result property="rating" column="rating"/>
        <result property="base_latitude" column="base_latitude"/>
        <result property="base_longitude" column="base_longitude"/>
        <result property="image_id" column="image_id"/>
        <result property="date_joined" column="date_joined"/>
    </resultMap>

    <resultMap id="TestBiz" type="v0.project.mysite.KBC.DTO.TestBiz">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
    </resultMap>

    <select id="getBizMember" resultMap="BizMembersResultMap">
        SELECT * FROM BizMembers WHERE username = #{query}
    </select>

    <select id="selectAll" resultMap="BizMembersResultMap">
        SELECT * FROM BizMembers
    </select>

<!--    <insert id="insertUser" parameterType="v0.project.mysite.KBC.DTO.TestBiz">-->
<!--        INSERT INTO TestBiz (id, username, password)-->
<!--        VALUES (#{id}, #{username}, #{password})-->
<!--    </insert>-->


</mapper>
