<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="v0.project.mysite.work.HJH.mapper.ViewBizMembersAppliesMapper">

    <resultMap id="ViewBizMembersAppliesResultMap" type="v0.project.mysite.work.HJH.model.ViewBizMembersApplies">
        <id property="apply_id" column="apply_id"/>
        <result property="member_id" column="member_id"/>
        <result property="announcement_id" column="announcement_id"/>
        <result property="chat_created" column="chat_created"/>
        <result property="user_hired" column="user_hired"/>
        <result property="apply_date" column="apply_date"/>

        <result property="announcement" column="announcement"/>
        <result property="nick_name" column="nick_name"/>
        <result property="image_url" column="image_url"/>
        <result property="userprofile" column="userprofile"/>
    </resultMap>

    <select id="selectAllByBizmemberId" resultMap="ViewBizMembersAppliesResultMap">
        select ba.title as announcement, m.nick_name, i.image_url, mp.title as userprofile, a.*  from project3.applies a
            inner join project3.BizAnnouncements ba
                on a.announcement_id = ba.announcement_id
            inner join project3.Members m
                on a.member_id = m.member_id
            inner join project3.Images i
                on m.image_id = i.image_id
            inner join project3.Members_PR mp
                on m.member_id = mp.member_id
        where ba.bizmember_id = #{id}
    </select>
</mapper>
